<div style="text-align:center">
  <h1>
    {{ title }}!
    <a routerLink="/recorder">持续录音</a>
  </h1>
  <br>
  <button (click)="startRecording()">录音</button>
  <button (click)="stopRecording()">停止</button>

  <button (click)="upload()">上传</button>
  <br>
  <audio controls></audio>


  <div>
    <a href="javascript:;">aaa</a> <br>
    <a href="javascript:;">aaa</a><br>
    <a href="javascript:;">aaa</a><br>
    <a href="javascript:;">aaa</a><br>
    <a href="javascript:;">aaa</a><br>
  </div>
</div>
