<div>
  <h1>
    {{ title }}!
    <a routerLink="/done">单独录音</a>
  </h1>


  <!--<button (click)="startWatchVoice()">开始检测</button>-->
  <!--<button (click)="stopWatchVoice()">结束检测</button>-->

  <br>
  <button (click)="startRecording()">录音</button>
  <button (click)="stopRecording()">停止</button>

  <button (click)="upload()">上传</button>
  <br>
  <br>
  <br>
  <br>


  <ul>
    <ng-container *ngFor="let item of audioList;index as i">
      <li>
        {{item.result || '...'}}
        <audio controls></audio>
      </li>
    </ng-container>
  </ul>
</div>
